* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;

    background-color: #FBFAFD;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 95vw;
    height: 90vh;

    outline: 1px solid #5D53D0;
}
