* {
    margin: 0;
    padding: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    height: 100%;

    background-color: #FBFAFD;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    outline: 1px solid #5D53D0;
    image-rendering: pixelated;
}
